.header{
  background-color: #61dafb;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
}
.header h3{
  margin-left: 30px;
}

.main{
  background: white;
  width: 60vh;
  height: 30vh;

}

.App {
  background-color: black;
  text-align: center;
  height: 60vh;
  
}
